html {
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
    margin: 10px auto;
    border: 1px solid gray;
}

body {
    margin: 0;
    overflow: hidden;
}

.stats {
    position: absolute;
    left: 0px;
    top: 0px;
}